@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-main-content {
    @apply relative z-[-1] flex place-items-center before:absolute before:h-[300px] before:w-full before:-translate-x-1/2 before:rounded-full before:bg-gradient-radial before:from-white before:to-transparent before:blur-2xl before:content-[''] after:absolute after:-z-20 after:h-[180px] after:w-full after:translate-x-1/3 after:bg-gradient-conic after:from-sky-200 after:via-blue-200 after:blur-2xl after:content-[''] before:dark:bg-gradient-to-br before:dark:from-transparent before:dark:to-blue-700 before:dark:opacity-10 after:dark:from-sky-900 after:dark:via-[#0141ff] after:dark:opacity-40 sm:before:w-[480px] sm:after:w-[240px] before:lg:h-[360px];
  }

  .btn-primary {
    @apply rounded-lg border border-transparent px-4 py-3 transition-colors hover:border-gray-300 hover:bg-gray-100 hover:dark:border-sky-900/25 hover:dark:bg-sky-800/20 text-center;
  }

  .btn-secondary {
    @apply rounded-lg border border-transparent px-2 py-2 transition-colors border-gray-300 bg-gray-100 dark:border-sky-900/25 dark:bg-sky-800/20 text-center;
  }

  .btn-active {
    @apply rounded-lg border border-transparent px-4 py-3 transition-colors border-gray-300 bg-gray-100 dark:border-sky-900/25 dark:bg-sky-800/20 text-center;
  }

  .btn {
   @apply w-14 h-14 px-2 py-1 flex justify-center content-center flex-wrap
  }

  .logo-link {
    @apply w-full
    flex justify-center
    rounded-xl border-gray-300 lg:rounded-xl
    bg-gradient-to-b from-zinc-200
    pb-6 pt-8
    backdrop-blur-2xl
    dark:border-sky-900/25 dark:bg-sky-900/25 dark:from-inherit
    lg:static
    lg:w-auto
    lg:bg-gray-200 lg:p-4 lg:dark:bg-sky-900/25
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
